@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .nav-masthead .nav-link {
    font-size: 0.9rem;
  }
  .nav-masthead .nav-link + .nav-link {
    margin-left: 0.5rem;
  }
}

/* Commenté car ça fait juste... moche, faut pas se mentir ! */
/*@media screen and (min-width: 601px) and (max-width: 900px) {
  h1 {
    color: red;
  }
}*/